*{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
.text-primary{
    color: #FD6E0A;
}
.btn-primary{
    height: 64px;
    background: #FD6E0A;
    border-radius: 5px;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 20px;
    border: 0;
    padding: 18px 35px;

}
.header{
    background: #FFF8F3;
    background-image: url(../images/header_bg.png),url(../images/developer.png);
    background-repeat: no-repeat;
    background-position: bottom right, left;
}
/* header and nav bar */
nav{
    display: flex;
    justify-content: space-between;
    padding: 50px 200px;
}
nav ul{
    display: flex;
    align-items: center;
    

}
nav li{
    list-style: none;
    margin-left: 50px;
}
.nav-title{
    font-weight: 800;
font-size: 45px;
}

.text-primary{
    color: #FD6E0A;
}
/* banner style */
.banner{
    display: flex;
    align-items: center;
    margin: 0 200px;
}

.banner-title{
    color: #181818;
    font-weight: 700;
    font-size: 65px;
    font-style: normal;
    line-height: 116px;
}
.banner-subtitle{
    color: #474747;
    font-weight: 600;
    font-size: 45px;
    margin-bottom: 15px;
}
.banner-description{
    color: #474747;
    font-size: 18px;
    margin-bottom: 30px;
}
/* main section */
main{
    max-width: 1140px;
    margin: 0 auto;
}
/* about secttion */
.about{
    margin-top: 130px;
    background: #FFF8F3;
    border-radius: 10px;
    padding: 130px 150px;
    margin-bottom: 130px;
}
.section-title{
    text-align: center;
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 35px;
    line-height: 48px

}
.section-description{
    color: #757575;
    font-size: 10px;
    margin-bottom: 30px;
}
.about-info-container{
    display: flex;
    justify-content: space-around;
}
.about-info .info-title{
    
    color: #757575;
    font-size: 20px;

}
.about-info .aobut-description{
    color: #474747;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 50px;
}
/* what i do */
.what-i-do{
    max-width: 1140px;
}
.skills-container{
    display: flex;
    gap: 24px;
  
}
.skill{
    background: #FFFFFF;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    padding: 30px;
}
.skill-title{
    font-weight: 700;
    font-size: 20px;
    color: #181818;
    margin-bottom: 20px;
    margin-top: 30px;
}
.skill-description{
    font-size: 16px;
    color: #757575;

}
.section-title{
    color: #181818;
    font-weight: 700;
font-size: 35px;
text-align: center;
}
.section-tit-description{
    color: #757575;
    font-size: 18px;
    font-weight: 400;
    max-width: 900px;
    margin: auto;
    margin-bottom: 50px;
}
/* resume section */
.resume{
    background: #FFF8F3;
}
.resume-content{
    display: flex;
    gap: 20px;
}
.resume-item{
    margin: 30px 0;
}
.resume .resume-title{
    color: #474747;
    font-weight: 700;
    font-size: 30px;
}
.resume .title{
    color: #474747;
    font-weight: 700;
    font-size: 25px;
    margin-bottom: 10px;
}
.resume .sub-title{
    color: #757575;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 20px;
}
.resume .description{
    color: #757575;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 30px;
}
/* resume button */
.resume-btn{
    width: 1140;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 113px;
}
/* contact section */
.contact{
    display: flex;
    background: #FFF8F3;
    gap: 142px;
    padding: 130px 200px;
    
}
.contact-title{
    text-align: left;
    margin-bottom: 25px;
    background: #FFF8F3;
}
.description{
    margin-bottom: 25px;
}
.contact input[type="text"],input[type="email"], textarea{
    margin: 24px;
    border: 0;
    padding: 18px 30px;
    width: 100%;
}
input{
    height: 64px;
}
.contact-item a{
    text-decoration: none;
    margin-right: 5px;
}
